

<div class="container my-5 ">
    <div class="row justify-content-center ">
        <div class="col-lg-5">
            <a class="btn btn-sm btn-primary" href="/student">back</a>
            <br>
            <br>
            <div class="card">
                <div class="card-body">

                    <img class="w-100" src="/assets/upload/<%= singleData.photo %>  " alt="">
                    
                    <div class="card">
                        <div class="card-body">
                            <h1>Student All Data Show</h1>
                            <hr>
                            <form action="">
                                <div class="my-3">
                                    <label for="">name</label>
                                    <input value="<%= singleData.name %>" name="name" type="text" class="form-control" >
                                </div>
                                <div class="my-3">
                                    <label for="">email</label>
                                    <input value="<%= singleData.email %>" name="name" type="text" class="form-control" >
                                </div>
                                <div class="my-3">
                                    <label for="">cell</label>
                                    <input value="<%= singleData.cell %>" name="name" type="text" class="form-control" >
                                </div
                                
                            </form>
                            
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
